<div class="contact-container">
  <div class="container py-5">
    <h1 class="text-center mb-4 teal-green">Contact our Team</h1>

    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <p class="lead mb-5">
          At Herafy, we value every customer and appreciate your interest in our
          handmade crafts. Whether you have a question, need assistance, or
          simply want to share your thoughts, we're here to help!
        </p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <form
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit()"
          class="contact-form"
        >
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName" class="form-label text-teal-green"
                >First Name</label
              >
              <input
                type="text"
                class="form-control"
                id="firstName"
                formControlName="firstName"
                placeholder="First Name"
              />
              @if ((formControls.firstName.touched ||
              formControls.firstName.dirty) && formControls.firstName.invalid) {
              <small class="text-danger">{{
                getErrorMessage("firstName")
              }}</small>
              }
            </div>
            <div class="col-md-6 mb-3 m-auto" id="contact">
              <div class="form-label text-teal-green">
                <i class="bi bi-envelope-fill mb-2"></i>
                <label for="contact" class="px-2">Our Email </label>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Contact@gmail.com"
                disabled
              />
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName" class="form-label text-teal-green"
                >Last Name</label
              >
              <input
                type="text"
                class="form-control"
                id="lastName"
                formControlName="lastName"
                placeholder="Last Name"
              />
              @if ((formControls.lastName.touched ||
              formControls.lastName.dirty) && formControls.lastName.invalid) {
              <small class="text-danger">{{
                getErrorMessage("lastName")
              }}</small>
              }
            </div>
            <div class="col-md-6 mb-3 m-auto" id="contact">
              <div class="form-label text-teal-green">
                <i class="bi bi-telephone-fill mb-2"></i>
                <label for="contact" class="px-2">Call us </label>
              </div>

              <input
                type="text"
                class="form-control text-secondary"
                placeholder="01016047883"
                disabled
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label text-teal-green">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="example@gmail.com"
            />
            @if ((formControls.email.touched || formControls.email.dirty) &&
            formControls.email.invalid) {
            <small class="text-danger">{{ getErrorMessage("email") }}</small>
            }
          </div>

          <div class="mb-3">
            <label for="subject" class="form-label text-teal-green"
              >Subject</label
            >
            <input
              type="text"
              class="form-control"
              id="subject"
              formControlName="subject"
              placeholder="subject"
            />
            @if ((formControls.subject.touched || formControls.subject.dirty) &&
            formControls.subject.invalid) {
            <small class="text-danger">{{ getErrorMessage("subject") }}</small>
            }
          </div>

          <div class="mb-4">
            <label for="message" class="form-label text-teal-green"
              >Message</label
            >
            <textarea
              class="form-control"
              id="message"
              rows="6"
              formControlName="message"
              placeholder="message"
            ></textarea>
            @if ((formControls.message.touched || formControls.message.dirty) &&
            formControls.message.invalid) {
            <small class="text-danger">{{ getErrorMessage("message") }}</small>
            }
          </div>

          <div class="text-center">
            <button
              type="submit"
              class="btn bg-teal-green text-white send-message-btn"
            >
              <!-- [disabled]="loading" -->
              <!-- <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm me-2"
              ></span>
              {{ loading ? "Sending..." : "Send Message" }} -->
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-success modal-content">
      <div class="modal-body text-center py-4">
        <i class="bi bi-check-circle-fill success-icon mb-3"></i>
        <h3>Thank you!</h3>
        <p>
          Your message has been sent successfully. We'll get back to you soon!
        </p>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
