/* Hover effect for the title */
.card-title:hover {
  color: var(--teal-green) !important; /* Change to green on hover */
  transition: color 0.1s ease-in-out;
}

/* Hover effect for the image */
.card-img-top:hover {
  opacity: 0.9;
  transform: scale(1.02); /* Slight zoom effect */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Ensure consistent image styling */
.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 250px; /* Fixed height for uniform display */
  border-radius: 10px;
}
