<footer class="bd-footer py-5 bg-light border-top">
  <div class="container">
    <div class="row g-5">
      <!-- Logo Section -->
      <div class="col-12 col-lg-4 mb-4 mb-lg-0">
        <div class="d-flex flex-column align-items-center align-items-lg-start">
          <a class="d-inline-block mb-4" href="/">
            <img src="/images/logo.PNG" alt="Logo" class="img-fluid" style="width: 180px" />
          </a>
          <p class="text-center text-lg-start text-secondary mb-0 px-3 px-lg-0">
            Handcrafted with Love, Created for You.<br />
            Bringing you unique handmade products since 2023.
          </p>
        </div>
      </div>

      <!-- Products & Links Row -->
      <div class="col-12 col-lg-8">
        <div class="row g-5 h-100">
          <!-- Products Section -->
          <div class="col-12 col-md-6 col-lg-4">
            <h5 class="text-teal fw-bold mb-4 position-relative pb-2 border-bottom border-teal">
              Popular Products
            </h5>
            <ul class="list-unstyled" *ngIf="isLoggedIn">
              <li *ngFor="let product of products.slice(0, 5)" class="mb-3">
                <a [routerLink]="['/product-details', product._id]"
                  class="text-secondary hover-teal text-decoration-none d-block transition-all">
                  {{
                  product.title.length > 15
                  ? (product.title | slice : 0 : 15) + "..."
                  : product.title
                  }}
                </a>
              </li>
            </ul>
          </div>

          <!-- Categories Section -->
          <div class="col-12 col-md-6 col-lg-4">
            <h5 class="text-teal fw-bold mb-4 position-relative pb-2 border-bottom border-teal">
              Categories
            </h5>
            <ul class="list-unstyled">
              <li *ngFor="let category of categories" class="mb-3">
                <a [routerLink]="['/products', category._id]"
                  class="text-secondary hover-teal text-decoration-none d-block transition-all">
                  {{ category.title }}
                </a>
              </li>
            </ul>
          </div>

          <!-- Quick Links -->
          <div class="col-12 col-md-6 col-lg-4">
            <h5 class="text-teal fw-bold mb-4 position-relative pb-2 border-bottom border-teal">
              Quick Links
            </h5>
            <ul class="list-unstyled">
              <li class="mb-3">
                <a routerLink="/profile"
                  class="text-secondary hover-teal text-decoration-none d-block transition-all">Profile</a>
              </li>
              <li class="mb-3">
                <a routerLink="/cart"
                  class="text-secondary hover-teal text-decoration-none d-block transition-all">Cart</a>
              </li>
              <li class="mb-3">
                <a routerLink="/favorite"
                  class="text-secondary hover-teal text-decoration-none d-block transition-all">Favorites</a>
              </li>
              <li class="mb-3">
                <a routerLink="/about-us"
                  class="text-secondary hover-teal text-decoration-none d-block transition-all">About Us</a>
              </li>
              <li class="mb-3">
                <a routerLink="/contact-us"
                  class="text-secondary hover-teal text-decoration-none d-block transition-all">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Divider -->
    <hr class="my-5 opacity-25" />

    <!-- Copyright & Social -->
    <div class="row align-items-center mt-4">
      <div class="col-12 col-md-6 text-center text-md-start mb-3 mb-md-0">
        <p class="mb-0 text-muted small">
          <i class="fa-regular fa-copyright me-1"></i>2025 Herafy -
          <span class="d-block d-md-inline mt-1 mt-md-0">All rights reserved</span>
        </p>
      </div>

      <div class="col-12 col-md-6 text-center text-md-end">
        <div class="social-links d-inline-flex gap-3">
          <a href="#" class="text-teal hover-dark fs-5">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="text-teal hover-dark fs-5">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="text-teal hover-dark fs-5">
            <i class="fab fa-x-twitter"></i>
          </a>
          <a href="#" class="text-teal hover-dark fs-5">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>