<footer class="bd-footer py-4 py-md-5 mt-5">
  <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
    <div class="row">
      <div class="col-lg-6 mb-3">
        <a
          class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none"
          href="/"
          aria-label="Bootstrap"
        >
          <img
            class
            src="/images/logo.PNG"
            alt="Logo"
            class="img-fluid me-5"
            
          />
        </a>
        <ul class="list-unstyled small">
          <li class="desc mb-1 mt-2">Handmade with Love,</li>
          <li class="desc">Crafted for You</li>
        </ul>
      </div>

      <div class="col-6 col-lg-2 mb-3">
        <h5>Products</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="">decorations</a></li>
          <li class="mb-2"><a href="">chairs</a></li>
          <li class="mb-2"><a href="">rings</a></li>
          <li class="mb-2"><a href="">necklaces</a></li>
          <li class="mb-2"><a href="">pullovers</a></li>
          <li class="mb-2"><a href="">paintings</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Catigories</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="" target="_blank" rel="noopener">Fashion</a>
          </li>
          <li class="mb-2">
            <a href="" target="_blank" rel="noopener">Accessories</a>
          </li>
          <li class="mb-2">
            <a href="" target="_blank" rel="noopener">Furniture</a>
          </li>
          <li class="mb-2">
            <a href="" target="_blank" rel="noopener">Homeware</a>
          </li>
          <li class="mb-2">
            <a href="" target="_blank" rel="noopener"> paintings</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="" target="_blank" rel="noopener">Products</a>
          </li>
          <li class="mb-2">
            <a href="" target="_blank" rel="noopener">About Us</a>
          </li>
          <li class="mb-2">
            <a href="" target="_blank" rel="noopener">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="mb-4 border-bottom small-border"></div>
    <div class="m-0 p-0 row">
      <div class="col-6 col-lg-6 text-start">
        <p>
          <i class="fa-regular fa-copyright"></i> 2025 Herafy. All rights
          reserved
        </p>
      </div>
      <div class="col-6 col-lg-6 text-end ps-5">
        <i class="fa-brands fa-facebook me-2"></i>
        <i class="fa-brands fa-instagram me-2"></i>
        <i class="fa-brands fa-x-twitter me-2"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
    </div>
  </div>
</footer>
