
<nav class="navbar navbar-expand-lg mt-2 mb-2">
  <div class="container-fluid">
    

    <!-- Toggler for collapse -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand always visible -->
    <a class="navbar-brand mx-auto" href="#">
      <img src="/images/logo.PNG" alt="Logo" class="img-fluid me-5" >
    </a>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0  ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" 
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active" routerLink="about-us">About Us</a>
        </li>
      </ul>
      
      <div class="me-4"><i class="fa-regular fa-moon"></i></div>
      <button type="button" class="border-0 rounded-5 ps-4 pe-4 py-2" routerLinkActive="active" routerLink="login" >Login</button>
    </div>
  </div>
</nav>
