nav {
    background-color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.189);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Add this to create space for the fixed navbar */
/* :host {
    display: block;
    padding-top: 80px
} */
.img-fluid{
    width:135px;
}
button{
    background-color: #3D8D7A;
    color: white;
}
button:hover{
  background-color: var(--teal-green-hover);
  color: aliceblue;
}

div i{
    color: #3D8D7A;
    font-size: 1.8rem;
}

li .nav-link{
    color: #3D8D7A;
    font-weight: 600;
}
.navbar-nav{
    margin-left: 32%;
}
.container-fluid{
    padding-right:5% ;
    padding-left:5% ;
}

/* Custom styling for active nav links */

.nav-link.active {
  color: #000000 !important;
  font-weight: 600;
  background-color: transparent;
  display: inline-block;
  border-bottom: 3px solid #3d8d7ac6;
  padding-bottom: 5px;
  transition: all 0.2s ease;
}


@media (max-width: 991.98px) {
    .navbar-nav{
        margin-left: 0%;
    }
    div i{
        margin-bottom: 4%;
    }
}

  button:hover{
    background-color: #3d8d7ac6;
  }

  /* .nav-item:hover{
    background-color: #3d8d7ac6;

  }
  li .nav-link:hover{

} */
