<div class="container-fluid px-5 pt-4 mb-5 text-center">
  <h1 class="text-center mb-4 teal-green">ABOUT US</h1>
  <div class="card text-bg-dark mt-3">
    <img src="images/hero.png" class="card-img h-100 object-fit-cover rounded-4" alt="Spring Collection" />
    <div class="card-img-overlay d-flex flex-column justify-content-start p-md-5">
      <div class="row justify-content-center pt-5">
        <div class="col-lg-8 col-md-10">
          <h2 class="inspire">Crafted with Passion, Made for You</h2>
          <p class="fs-5 text-white">
            At Herafy, we create unique, high-quality handmade products with care and passion.
            Every piece tells a story, making your moments special.
            <strong class="thk">Thank you</strong> for supporting handmade craftsmanship!
          </p>
          <a routerLink="/about-us" class="btn btn-light btn-lg mt-3">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
