.hero-section {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

.card {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for centering */
  width: 90%; /* Adjust width as needed */
  height: 80%;
  border-radius: 15px; /* Optional: rounded corners */
  justify-content: flex-end;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.card-img-overlay {
  /* background: rgba(102, 101, 101, 0.5); */
  color: #ffffff;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align text to the bottom */
  height: 100%; /* Full height for overlay */
}

.card-title {
  font-family: "Inter", sans-serif;
  font-size: 5rem; /* Large title */
  margin-bottom: 0.5rem; /* Adjust margin */
  font-weight: 700;
  margin-left: 50px;
  /* width: 250px; */
}

.card-text {
  font-family: "Inter", sans-serif;
  color: #f8f9fa;
  font-size: 1.25rem; /* Medium text */
  max-width: 600px; /* Limit text width for better readability */
  margin-left: 50px; /* Remove margin */
  font-weight: 700;
}

.btn-light {
  background-color: white;
  color: black;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border-radius: 30px; /* Rounded button */
  transition: background-color 0.3s ease;
  position: absolute; /* Position button absolutely */
  bottom: 20px; /* Distance from the bottom */
  right: 20px; /* Distance from the right */
}

.btn-light:hover {
  background-color: #f8f9fa; /* Slightly darker on hover */
}

.card-text small {
  font-size: 0.875rem; /* Smaller text for the collection name */
  opacity: 0.8; /* Slightly transparent */
}
/* find out the best collection offering our best quality production in a tolus spring collection */
