



<div class="container-fluid p-5"> <!-- Full width container -->
  <div class="card text-bg-dark h-80vh w-100">
    <img src="images/hero.png" class="card-img h-100 object-fit-cover rounded-4" alt="Spring Collection" />
    <div class="card-img-overlay d-flex flex-column justify-content-end p-4 p-md-5 bg-dark bg-opacity-50">
      <div class="content-wrapper">
        <h1 class="card-title display-3 fw-bold mb-0">Handmade with Love,</h1>
        <h1 class="card-title display-4 fw-bold">Crafted for You</h1>
        <p class="card-text fs-5  mb-4">
          Find out the best collection offering our best quality production in a tolus spring collection.
        </p>
        <div class="text-end">
          <a href="#" class="btn btn-light rounded-pill px-4 py-2 px-md-5 py-lg-3">Explore</a>
        </div>
      </div>
    </div>
  </div>
</div>
