<div class="hero-section">
  <div class="card text-bg-dark">
    <img src="images/hero.png" class="card-img" alt="Spring Collection" />
    <div
      class="card-img-overlay d-flex flex-column justify-content-left align-items-left text-left"
    >
      <h1 class="card-title display-4 fw-bold">Handmade with Love,</h1>
      <h1 class="card-title">Crafted for You</h1>
      <p class="card-text fs-5">
        Find out the best collection offering our best quality production in a
        tolus spring collection
      </p>
      <a href="#" class="btn btn-light btn-lg mt-3">Explore</a>
    </div>
  </div>
</div>
