<div class="product  d-flex align-items-center  mb-2">
    <p>product</p>
    <div class="features d-flex justify-content-space-evenly gap-5 mt-4">
      <p class="ms-1">Price</p>
      <p class="ms-1">Quantity</p>
      <p class="ms-2">Total Price</p>
    </div>
  </div>

  <div  class="left-card d-flex p-3">
    <img [src]="cart.productImage" alt="..." />
    <div class="ms-3">
      <p class="mt-2 mb-2">Product Catigory</p>
      <h5>{{cart.productName}}</h5>
    </div>
    <p class="price ms-5">{{cart.price}}$</p>
    <div class="arthimitic d-flex align-items-center justify-content-center gap-2 ms-5">
      <i class="mb-2 p-2 fa-solid fa-minus d-flex align-items-center justify-content-center"></i>
      <p class="mb-3 text-center d-flex align-items-center justify-content-center">1</p>
      <i class="mb-2 p-2 fa-solid fa-plus d-flex align-items-center justify-content-center"></i>
    </div>
    <p class="price ms-5">{{totalPrice}}$</p>
  </div>
