<div class="product-card">
  <div [style.background-image]="'url(' + product?.image + ')'" class="product-image"></div>
  <div class="product-details d-flex flex-column">
    <div class="d-flex justify-content-between mb-3 fw-bold">
      <div class="col-10">
        <a routerLink="/product-details/{{product._id}}" class="product-title text-decoration-none">{{ product.title
          }}</a>
      </div>
      <div class="col-1">
        <button class="wishlist-button" (click)="toggleHeart($event)">
          <svg class="heart-icon" [ngClass]="{'filled':isProductInFavorites()}" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
          </svg>
        </button>
      </div>
    </div>
    <div class="flex-shrink-1">
      <p class="product-description">{{ product.description }}</p>
    </div>
    <div class=" ">
      <p class="product-price">${{ product.currentprice }}</p>
    </div>
  </div>
  <div class="mb-1 w-100">
    <button type="submit" (click)="addToCart()" class="btn w-100 bg-teal-green text-white px-2 rounded-5"
      [disabled]="isProductInCart(product._id)">
      {{ isProductInCart(product._id) ? 'Added to Cart' : 'Add to Cart' }}
    </button>
  </div>
</div>