<div class="all-orders-container">
  <h2>All Orders</h2>
  @if (loading()) {
  <div class="loading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  }
  @if (error()) {
  <div class="text-danger w-50 m-auto text-center mb-2" role="alert">
    Oops! Something went wrong. Please try again later.
  </div>
  }

  @if (!loading() && orders().length === 0 && !error()) {
  <div class="alert alert-success w-50 m-auto text-center" role="alert">
    You have no orders yet. Start shopping now and place your first order!
  </div>
  }

  @if (orders().length > 0) {
  <div class="table-responsive">
    <table class="orders-table">
      <thead>
        <tr>
          <th>Invoice Number</th>
          <th>Total</th>
          <th>Status</th>
          <th>Date</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (order of orders(); track order._id) {
        <tr>
          <td data-label="Invoice Number">{{ order.invoiceNumber || order._id }}</td>
          <td data-label="Total">{{ (order.totalPrice) | currency:'EGP ' }}</td>

          <td data-label="Status">{{ order.status }}</td>
          <td data-label="Date">{{ order.createdAt | date:'medium' }}</td>
          <td data-label="Actions" class="text-center">
            <button (click)="viewOrderDetails(order)">
              View Details
            </button>

            @if (order._id) {
            <button (click)="cancelOrder(order._id)"
              [ngClass]="order.status !== 'In-Progress' ? 'disabledCancel' : 'cancel'"
              [attr.disabled]="order.status !== 'In-Progress' ? true : null">
              Cancel Order
            </button>

            }
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  }
  @if (selectedOrderDetails) {
  <div class="order-details-modal ">
    <div class="order-details-content ">
      <button class="close-btn" (click)="closeOrderDetails()"><i class="fa-solid fa-xmark"></i></button>
      <div class="order-details-header">
        <h3>Order Details</h3>
      </div>

      <div class="order-details-section">
        <h4>Order Information</h4>
        <div class="order-info-flex">
          <div class="order-info-left">
            <ul class="order-info">
              <li><strong>Invoice Number:</strong> {{ selectedOrderDetails.invoiceNumber || selectedOrderDetails._id }}</li>
              <li><strong>Total Price:</strong> {{ selectedOrderDetails.totalPrice | currency:'EGP ' }}</li>
              <li><strong>Status:</strong> <span class="status-label">{{ selectedOrderDetails.status }}</span></li>
              <li><strong>Created Date:</strong> {{ selectedOrderDetails.createdAt | date:'medium' }}</li>
            </ul>
          </div>
          <div class="order-info-right">
            <div class="shipping-details-container">
              <div class="shipping-header">
                <strong>Shipping details</strong>
              </div>
              <div class="shipping-details">
                <p><strong>Name:</strong> {{ selectedOrderDetails.shippingAddress.name }}</p>
                <p><strong>Address:</strong>  {{ selectedOrderDetails.shippingAddress.address }}</p>
                <p><strong>Phone: </strong>{{ selectedOrderDetails.shippingAddress.phone }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="order-details-section">
        <h4>Products</h4>
        <div class="products-table-wrapper">
          <table class="products-table">
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              @for (item of selectedOrderDetails.orderItems; track item.product) {
              <tr>
                <td>{{ item.product.title }}</td>
                <td>{{ item.price | currency:'EGP ' }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price * item.quantity | currency:'EGP ' }}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  }

</div>