strong{
    margin-right: 10px; 
}

.about-img-container {
    height: 40vh;
}

@media (min-width: 768px) {
    .about-img-container {
        height: 50vh;
    }
}

@media (min-width: 992px) {
    .about-img-container {
        height: 60vh;
    }
}

.teal-green {
    color: #008080;
}

/* Responsive typography */
@media (min-width: 768px) {
    .display-md-4 {
        font-size: 3.5rem;
    }
    
    .fs-md-5 {
        font-size: 1.25rem !important;
    }
}