<div class="items-section">
  <div class="d-flex">
    <h2 class="">Items</h2>
    <p class="pt-2 ms-2">(8 items)</p>
  </div>
  <div class="item">
    <img src="https://images.pexels.com/photos/31049332/pexels-photo-31049332/free-photo-of-minimalist-palm-tree-with-afternoon-shadows.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    <div class="item-details pt-3">
      <h4>Skirt anfshskfhkh</h4>

      <p>Total Price :2000$</p>
    </div>
  </div>
  <div class="item">
    <img src="https://images.pexels.com/photos/31049332/pexels-photo-31049332/free-photo-of-minimalist-palm-tree-with-afternoon-shadows.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    <div class="item-details pt-3">
      <h4>Skirt</h4>
      <div class="quantity-control">
        <button>-</button>
        <span>2</span>
        <button>+</button>
      </div>
      <p>Total Price :2000$</p>
    </div>
  </div>
  <div class="item">
    <img src="https://images.pexels.com/photos/31049332/pexels-photo-31049332/free-photo-of-minimalist-palm-tree-with-afternoon-shadows.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    <div class="item-details pt-3">
      <h4>Skirt</h4>
      <div class="quantity-control">
        <button>-</button>
        <span>2</span>
        <button>+</button>
      </div>
      <p>Total Price :2000$</p>
    </div>
  </div>

