.items-section {
  background: #f9f9f9;
  padding: 10px 10px 0px 30px;
  border-radius: 8px;
  max-height: 340px;
  overflow-y: scroll;
}
h4,h2,button{
  color: var(--teal-green);
}
.item-details{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 8px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-control button {
  width: 30px;
  height: 30px;
  background: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.remove-btn {
  margin-left: 10px;
  background: #ff4444;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}
