main {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../../../public/images/registration.png") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent page-level scrolling */
}

.form-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 100%;
  margin: 10px auto;
  /* min-height: 500px; Set a minimum height to control the container size */
  max-height: 650px; /* Set a maximum height to control the container size */;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; Distribute content to avoid empty space */
  
}



.form-container h2 {
  color: #3d8d7a;
  font-weight: 600;
  /* margin-bottom: 25px; */
}
.btn-custom {
  background-color: #3d8d7a;
  color: white;
}

.btn-custom:hover,
.btn-custom:focus {
  background-color: #2c6a5c;
  box-shadow: 0 0 0 0.25rem rgba(61, 141, 122, 0.25);
}

.form-control:focus {
  border-color: #3d8d7a;
  box-shadow: 0 0 0 0.25rem rgba(61, 141, 122, 0.25);
}
@media (max-width: 768px) {
  main {
    background-image: none;
  }
}

.alert {
  transition: all 0.5s ease;
  margin: 15px;
}

.login-link {
  color: #20a8d8;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.form-control:invalid {
  scroll-margin-top: 0;
}
.toast-container {
  position: fixed;
  z-index: 9999;
  pointer-events: none;
  /* Position at top-right without pushing content */
  top: 20px;
  right: 20px;
}
