<main>
  <div class="container">
    <div class="form-container">
      <h2 class="text-center text-success">Registration Form</h2>
      <p class="text-center">Please fill in the form below</p>

      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <!-- Full Name -->
        <div class="mb-3 mx-3">
          <label class="form-label"
            >Full Name <span class="text-danger">*</span></label
          >
          <div class="row g-2 mb-3">
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                formControlName="firstName"
                placeholder="First Name"
                (blur)="f.firstName.markAsTouched()"
              />
              @if (f.firstName.touched && f.firstName.errors?.['required']) {
              <small class="text-danger">First Name is required.</small>
              } @if (f.firstName.touched && f.firstName.errors?.['pattern']) {
              <small class="text-danger">Only letters allowed.</small>
              }
            </div>
            <div class="col-md-6">
              <input
                type="text"
                class="form-control"
                formControlName="lastName"
                placeholder="Last Name"
                (blur)="f.lastName.markAsTouched()"
              />
              @if (f.lastName.touched && f.lastName.errors?.['required']) {
              <small class="text-danger">Last Name is required.</small>
              } @if (f.lastName.touched && f.lastName.errors?.['pattern']) {
              <small class="text-danger">Only letters allowed.</small>
              }
            </div>
          </div>
        </div>

        <!-- Address -->
        <div class="mb-3 mx-3">
          <label class="form-label"
            >Address <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control mb-2"
            formControlName="street"
            placeholder="Street"
            (blur)="f.street.markAsTouched()"
          />
          @if (f.street.touched && f.street.errors?.['required']) {
          <small class="text-danger">Street is required.</small>
          }

          <div class="row g-2 mb-3">
            <div class="col-md-4">
              <input
                type="text"
                class="form-control"
                formControlName="city"
                placeholder="City"
                (blur)="f.city.markAsTouched()"
              />
              @if (f.city.touched && f.city.errors?.['required']) {
              <small class="text-danger">City is required.</small>
              }
            </div>
            <div class="col-md-4">
              <input
                type="text"
                class="form-control"
                formControlName="state"
                placeholder="State"
                (blur)="f.state.markAsTouched()"
              />
              @if (f.state.touched && f.state.errors?.['required']) {
              <small class="text-danger">State is required.</small>
              }
            </div>
            <div class="col-md-4">
              <input
                type="text"
                class="form-control"
                formControlName="zipCode"
                placeholder="Zip Code"
                (blur)="f.zipCode.markAsTouched()"
              />
              @if (f.zipCode.touched && f.zipCode.errors?.['required']) {
              <small class="text-danger">Zip code is required.</small>
              } @if (f.zipCode.touched && f.zipCode.errors?.['pattern']) {
              <small class="text-danger">Invalid zip code.</small>
              }
            </div>
          </div>
        </div>

        <!-- Contact Information -->
        <div class="row g-2 mb-3 mx-3">
          <div class="col-md-6">
            <label class="form-label"
              >Phone Number <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              formControlName="phone"
              (blur)="f.phone.markAsTouched()"
            />
            @if (f.phone.touched && f.phone.errors?.['required']) {
            <small class="text-danger">Phone is required.</small>
            } @if (f.phone.touched && f.phone.errors?.['pattern']) {
            <small class="text-danger">Invalid phone number.</small>
            }
          </div>
          <div class="col-md-6">
            <label class="form-label"
              >E-mail <span class="text-danger">*</span></label
            >
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="example@gmail.com"
              (blur)="f.email.markAsTouched()"
            />
            @if (f.email.touched && f.email.errors?.['required']) {
            <small class="text-danger">Email is required.</small>
            } @if (f.email.touched && f.email.errors?.['pattern']) {
            <small class="text-danger">Invalid email format.</small>
            }
          </div>
        </div>

        <!-- Password -->
        <div class="row g-2 mb-3 mx-3">
          <div class="col-md-6">
            <label class="form-label"
              >Password <span class="text-danger">*</span></label
            >
            <input
              type="password"
              class="form-control"
              formControlName="password"
              (blur)="f.password.markAsTouched()"
            />
            @if (f.password.touched && f.password.errors?.['required']) {
            <small class="text-danger">Password is required.</small>
            } @if (f.password.touched && f.password.errors?.['pattern']) {
            <small class="text-danger"
              >Must include uppercase, lowercase, number, and special
              character.</small
            >
            }
          </div>
          <div class="col-md-6">
            <label class="form-label"
              >Confirm Password <span class="text-danger">*</span></label
            >
            <input
              type="password"
              class="form-control"
              formControlName="confirmPassword"
              (blur)="f.confirmPassword.markAsTouched()"
            />
            @if (f.confirmPassword.touched &&
            f.confirmPassword.errors?.['required']) {
            <small class="text-danger">Confirm Password is required.</small>
            } @if (f.confirmPassword.touched &&
            registrationForm.errors?.['passwordMismatch']) {
            <small class="text-danger">Passwords do not match.</small>
            }
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-custom w-75">Submit</button>
        </div>
      </form>
    </div>
  </div>
</main>
