/* root Variables */
:root {
  --teal-green: #3d8d7a;
  --teal-green-hover: #275a4e;

  --dark-gray: #6c6c6c;
  --line-text-color: #6e6e6e;
  --line-color: #7b7878;
}

/* Utility Classes */
.bg-teal-green {
  background-color: var(--teal-green) !important;
}

.text-teal-green {
  color: var(--teal-green) !important;
}

.bg-dark-gray {
  background-color: var(--dark-gray) !important;
}

.text-dark-gray {
  color: var(--dark-gray) !important;
}
