<div class="payment-section">
  <h2>Payment Method</h2>
  <form action="">
    <div class="payment-options d-flex flex-cloumn">
      <label>
        <input type="radio" formControlName="paymentType" value="paypal">
        <img src="/images/paypal.png" alt="" width="160px" height="80px">
      </label>
      <label>
        <input type="radio" formControlName="paymentType" value="card" checked>
        Credit or Debit card
      </label>
      <div class="card-icons">
        <img src="/images/mastercard.png" alt="Mastercard">
        <img src="/images/visa.png" alt="Visa">
      </div>
    </div>
    <div class="card-details" >
      <div class="form-group">
        <label for="cardholderName">Cardholder Name</label>
        <input
          type="text"
          id="cardholderName"
          formControlName="cardholderName"
          placeholder="Name on Card"
        >
        <div  class="error">
          Cardholder name is required
        </div>
      </div>

      <div class="form-group">
        <label for="cardNumber">Card Number</label>
        <input
          type="text"
          id="cardNumber"
          formControlName="cardNumber"
          placeholder="1234 5678 9012 3456"
          maxlength="16"
        >
        <div class="error">
          Valid card number is required
        </div>
      </div>

      <div class="card-info-row">
        <div class="form-group">
          <label for="expirationDate">Expiration Date</label>
          <input
            type="text"
            id="expirationDate"
            formControlName="expirationDate"
            placeholder="MM/YY"
            maxlength="5"
          >
          <div  class="error">
            Valid expiration date is required
          </div>
        </div>

        <div class="form-group">
          <label for="cvv">CVV</label>
          <input
            type="text"
            id="cvv"
            formControlName="cvv"
            placeholder="123"
            maxlength="3"
          >
          <div  class="error">
            Valid CVV is required
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="review-order-btn">Review Order</button>
  </form>
</div>
